* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
/* Style my navbar */
nav {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  font-size: 24px;
}
li {
  list-style: none;
}
ul {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.hero {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}
.image {
  background-color: aliceblue;
  width: 300px;
  height: 100px;
}
.hero p {
  width: 400px;
}
.hero h1 {
  font-size: 48px;
  font-weight: 800;
  width: 400px;
}
