@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
/* Style my navbar */
nav {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  font-size: 24px;
}
li {
  list-style: none;
}
ul {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
/* Styling our first hero section */
.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 70px;
  padding-top: 50px;
}
.image {
  background-color: #6d747d;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero p {
  width: 400px;
  font-size: 18px;
  color: #e5e7eb;
}
.hero h1 {
  font-size: 48px;
  font-weight: 800;
  width: 400px;
  font-family: "Roboto", sans-serif;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  width: 100px;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
/* Styling our second hero section */

.hero2 h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hero2 {
  padding-bottom: 40px;
}
.contenu {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.contenu p {
  max-width: 200px;
  text-align: center;
}
.hero3 {
  background-color: #e5e7eb;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero3 div p {
  font-style: italic;
  font-size: 15px;
  max-width: 500px;
  margin: auto;
}
figcaption {
  margin-right: auto;
  max-width: 500px;
  margin: auto;
  text-align: right;
  font-weight: 800;
  padding-top: 20px;
}
.herocontenu{
  background-color: #3882f6;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #e5e7eb;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  border-radius: 5px;
}
.hero4{
  padding-top: 60px;
  padding-bottom: 60px;
}
.bouton{
  border: 1px solid white;
}
footer{
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
